@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf"); }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.svg"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  counter-reset: section;
  font: 14px OpenSansRegular, serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }

a {
  color: #111111;
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-family: PlayfairDisplayRegular, serif;
  line-height: 60px;
  font-size: 60px;
  margin: 0; }

h2 {
  margin: 0; }

section {
  padding: 0 15px 50px; }

.section-header {
  position: relative;
  padding: 100px 0 60px; }
  .section-header h2 {
    font-family: PlayfairDisplayRegular, serif;
    font-size: 30px;
    font-weight: bold; }
  .section-header p {
    line-height: 30px;
    font-weight: 400;
    color: #666666;
    max-width: 750px;
    margin-bottom: 0; }
  .section-header:before {
    opacity: .1;
    top: 15px;
    position: absolute;
    font-size: 200px;
    counter-increment: section;
    content: "0" counter(section) ""; }

.header-wrapper {
  border-left: 2px solid #e8bf5d;
  padding-left: 30px; }

.overflow {
  overflow: hidden; }

.container {
  width: 1170px;
  margin: 0 auto; }

.black-section {
  background: #111111; }
  .black-section .section-header:before {
    color: #ffffff; }
  .black-section h2, .black-section h3 {
    color: #ffffff; }
  .black-section p {
    color: #b9b9b9; }

button {
  font: 16px PlayfairDisplayRegular, serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  background: #e8bf5d;
  padding: 16px 50px;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }
  button:hover {
    background: #eed18a; }
  button:active {
    background: #e2ad30; }

.main-header {
  height: 110px;
  padding: 32px 0; }
  .main-header .logo {
    margin-top: 14px;
    float: left; }
  .main-header .main-nav {
    text-transform: uppercase;
    float: right; }
    .main-header .main-nav ul li {
      margin: 0 20px;
      display: inline-block; }
      .main-header .main-nav ul li a {
        padding-bottom: 10px; }
    .main-header .main-nav .active {
      border-bottom: 4px #e8bf5d solid; }

.welcome-section {
  position: relative;
  color: #ffffff;
  background: url("../img/our-hero-nograd.png") 50% 0 no-repeat;
  background-size: cover;
  height: calc(100vh - 110px); }
  .welcome-section:before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: url("../img/welcome-gradient.png") repeat-x; }
  .welcome-section h2 {
    font-size: 31px; }
  .welcome-section .welcome-info {
    width: 970px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    bottom: 10%; }
    .welcome-section .welcome-info button {
      margin: 12px 0 0;
      float: right; }
    .welcome-section .welcome-info .welcome-infowrap {
      margin-left: 40px;
      text-align: left;
      float: left; }

.about-section .history, .about-section .expertise {
  vertical-align: top;
  max-width: 550px;
  display: inline-block; }

.history-list {
  width: 100%;
  padding: 0;
  margin: 0; }
  .history-list dt {
    font-weight: bold;
    margin-top: 35px; }
  .history-list dd {
    line-height: 21px;
    margin-left: 60px;
    margin-top: -35px;
    padding: 10px; }

.expertise {
  margin-left: 30px; }
  .expertise p {
    margin-top: 25px;
    line-height: 31px;
    color: #666666; }

.practice-section .practice-list li {
  position: relative;
  margin-bottom: 70px;
  padding-left: 150px;
  width: 550px;
  display: inline-block;
  vertical-align: top; }

.private-client-service:before, .labour-and-employment:before, .cyber-sequre:before, .real-estate:before {
  color: #e8bf5d;
  font-size: 55px;
  font-family: FontAwesome,sans-serif;
  position: absolute;
  left: 40px;
  top: 10px; }

.private-client-service:before {
  content: "\f2b5"; }

.labour-and-employment:before {
  content: "\f0ad"; }

.cyber-sequre:before {
  content: "\f108"; }

.real-estate:before {
  content: "\f015"; }

.team-section .team-list {
  padding: 0; }
  .team-section .team-list li {
    vertical-align: middle;
    width: 270px;
    display: inline-block;
    margin-right: 25px; }
    .team-section .team-list li:last-child {
      margin-right: 0; }
  .team-section .team-list h3 {
    margin-bottom: 0; }
  .team-section .team-list p {
    margin-top: 5px;
    color: #666; }

.clients-section {
  position: relative; }
  .clients-section:before {
    content: "";
    background: url("../img/clients-bg.png") 50% 0 no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.05; }

.clients-section img {
  margin-top: 75px;
  -webkit-box-shadow: 20px 20px 0 0 #e8bf5d;
  box-shadow: 20px 20px 0 0 #e8bf5d; }

.clients-section blockquote {
  position: relative;
  padding-left: 50px;
  float: right;
  margin-top: 90px;
  width: 650px; }
  .clients-section blockquote h3 {
    margin-bottom: 0; }
    .clients-section blockquote h3 ~ p {
      margin-top: 0; }
  .clients-section blockquote p {
    color: #ffffff; }
  .clients-section blockquote::before {
    left: 0;
    position: absolute;
    font-family: Georgia, serif;
    color: #525151;
    content: "\201C";
    font-size: 90px; }

.publications-section article {
  margin-right: 20px;
  display: inline-block;
  width: 370px;
  border-bottom: 3px #e8bf5d solid; }
  .publications-section article:nth-child(3n+1) {
    margin-right: 0; }
  .publications-section article h2 {
    margin-top: 30px; }
  .publications-section article h3 {
    display: inline; }
    .publications-section article h3 span {
      color: #666;
      font-style: italic; }
  .publications-section article p {
    color: #666666;
    line-height: 31px;
    margin: 30px 0; }
  .publications-section article .date-publication {
    float: right; }
  .publications-section article .comments, .publications-section article .share {
    cursor: pointer;
    margin-top: 0;
    display: inline-block; }
    .publications-section article .comments:before, .publications-section article .share:before {
      margin-right: 10px;
      content: "\f086";
      color: #111111;
      font-size: 20px;
      font-family: FontAwesome,sans-serif; }
  .publications-section article .share {
    padding: 0;
    cursor: pointer;
    background: #e8bf5d;
    font: 16px OpenSansRegular, serif;
    line-height: 31px;
    outline: none;
    background: inherit;
    border: none;
    float: right; }
    .publications-section article .share:before {
      content: "\f064"; }

.faq-section .faq {
  width: 500px;
  padding: 46px;
  background: #e8bf5d;
  border-radius: 15px;
  margin-bottom: 90px; }
  .faq-section .faq p {
    color: #111111;
    line-height: 31px; }

.contact-section .our-contact {
  width: 870px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 170px -75px black;
  box-shadow: 0 0 170px -75px black; }

.contact-section .form-message {
  display: inline-block;
  padding: 50px;
  width: 450px; }
  .contact-section .form-message input, .contact-section .form-message textarea {
    outline: none;
    resize: none;
    padding-left: 15px;
    width: 350px;
    line-height: 45px;
    border: 0;
    border-bottom: 1px #b9b9b9 solid;
    color: #666666;
    font-family: OpenSansRegular, sans-serif;
    font-style: italic;
    display: block;
    margin-bottom: 10px; }
  .contact-section .form-message textarea {
    margin-top: 20px;
    line-height: 20px; }
  .contact-section .form-message button {
    margin-top: 40px; }

.contact-section .map {
  display: inline-block; }
  .contact-section .map iframe {
    -webkit-box-shadow: -20px 20px 0 0 #e8bf5d;
    box-shadow: -20px 20px 0 0 #e8bf5d;
    width: 370px;
    height: 370px; }

footer {
  height: 80px; }
  footer a {
    color: #ffffff; }
  footer .copyright {
    float: left;
    height: 50px;
    line-height: 50px; }
  footer .social {
    height: 50px;
    line-height: 50px;
    float: right; }
    footer .social li {
      margin-right: 10px;
      display: inline-block; }
