$white: #ffffff
$black: #111111
$accent: #e8bf5d

@font-face
  font-family: "PlayfairDisplayRegular"
  src: url("../fonts/PlayfairDisplay-Regular.ttf")
@font-face
  font-family: "OpenSansRegular"
  src: url("../fonts/OpenSans-Regular.ttf")


*
  box-sizing: border-box

body
  font: 14px OpenSansRegular, serif
  margin: 0
  padding: 0
  background-color: $white
a

  color: $black
  cursor: pointer
  text-decoration: none
h1
  font-family: PlayfairDisplayRegular, serif
  line-height: 60px
  font-size: 60px
  margin: 0
h2
  margin: 0
section
  padding-bottom: 50px
.section-header
  padding: 100px 10px 60px
  h2
    font-size: 40px
    font-weight: bold
  p
    line-height: 30px
    font-weight: 400
    color: #666666
    max-width: 750px
    margin-bottom: 0

.header-wrapper
  border-left: 2px solid $accent
  padding-left: 30px

.overflow
  overflow: hidden
.container
  width: 1170px
  margin: 0 auto
button
  font: 16px PlayfairDisplayRegular, serif
  font-weight: bold
  outline: none
  cursor: pointer
  display: inline-block
  border-radius: 50px
  background: $accent
  padding: 16px 60px
  transition: background 0.5s ease
  &:hover
    background: lighten($accent, 10%)
  &:active
    background: darken($accent, 10%)
.black-section
  background: $black
  h2, h3
    color: $white
  p
    color: #b9b9b9
.yellow-line
  &::before
    content: ""
    position: absolute
    height: 100%
    width: 2px
    background: $accent


.main-header
  height: 110px
  padding: 32px 0
  .logo
    margin-top: 14px
    float: left
  .main-nav
    text-transform: uppercase
    float: right
    ul
      li
        margin: 0 20px
        display: inline-block
.welcome-section
  color: $white
  background: url("../img/our-hero.png") 50% 0 no-repeat
  background-size: cover
  height: calc(100vh - 110px)
  //&:before
  //  content: ""
  //  left: 0
  //  right: 0
  //  top: 0
  //  bottom: 0
  //  position: absolute
  //  background: url("../img/welcome-gradient.png") repeat-x
  //  background-size: contain
  h2

    font-size: 31px

  .welcome-info
    width: 970px
    left: 50%
    transform: translateX(-50%)
    position: absolute
    bottom: 10%
    button
      margin: 12px 0 0
      float: right
    .welcome-infowrap
      margin-left: 40px
      text-align: left
      float: left


.about-section

  .history, .expertise
    vertical-align: top
    max-width: 550px
    display: inline-block
.history-list
  width: 100%
  padding: 0
  margin: 0
  dt
    font-weight: bold
    margin-top: 35px
  dd
    line-height: 21px
    margin-left: 60px
    margin-top: -35px
    padding: 10px
.expertise
  margin-left: 30px
  p
    margin-top: 25px
    line-height: 31px
    color: #666666



.practice-section
  .practice-list
    li
      margin-bottom: 70px
      padding-left: 150px

.private-client-service




//a, a:hover, a:focus
//  cursor: pointer
//  color: #ffffff
//  text-decoration: none
//.
